<div class="registerMainDiv">
    
    <div class="registrationPic">
        <h1>Hello this is registration pic</h1>
    </div>


    <!-- id="{{firstName?.hasError('required') ? 'test': ''}}"  -->

    <div class="registrationForm">
        <h4>Dont have account yet? register here!</h4>

        <form action="" class="registrationForm__mainForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="formset">
                    <label for="">Firstname</label>
                    <input type="text" name="firstName" placeholder="Firstname"  formControlName="firstName" required>
                </div>
                
                @if (firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
                <div class="alert">
                @if (firstName?.hasError('required')) {
                    <span id="errorFont">
                        <p>Name is required.</p>
                    </span>
              }



                 @if(firstName?.hasError('invalidName')) {
                 <span id="errorFont">
                        <p>Dafak is bob bro?.</p>
                    </span>
              }
                </div>

                
                }

                <div class="formset">
                    <label for="">Lastname</label>
                    <input type="text" name="Firstname" id="lastName" placeholder="Lastname" class="lName" formControlName="lastName">
                </div>

            @if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
                <div class="alert">
                @if (lastName?.hasError('required')) {
                    <span id="errorFont">
                        <p>Last name is required.</p>
                    </span>
              }
                </div>
                }

                

            <div class="gender">
                <label for="">
                    Female
                    <input type="radio" name="Gender" id="" value="Female" formControlName="Gender">
                </label>
                <label for="">
                    Male
                    <input type="radio" name="Gender" id="" value="Male" formControlName="Gender">
                </label>
                <!-- <label for="">
                    Custom
                    <input type="radio" name="test" id="">
                </label> -->
            </div>

            <div class="datepicker">
                <label for="">Please enter your birthdate
                    
                </label>
                <mat-form-field class="example-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate"/>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>



                @if (birthDate?.invalid && (birthDate?.dirty || birthDate?.touched)) {
                <div class="alert">
                    @if(birthDate?.hasError('minor')) {
                    <span id="errorFont">
                        <p>Minor paka choi</p>
                    </span>
                  }


                  @if(birthDate?.hasError('required')) {
                    <span id="errorFont">
                        <p>This section is required</p>
                    </span>
                  }
                </div>
                }

               


                 
            </div>
            
            <div class="formset1">
                <label for="Username">Username</label>
                <input type="text" name="" id="" placeholder="Username" formControlName="userName">
            </div>
            <div class="formset1">
                <label for="Username">Password</label>
                <input type="password" name="" id="" placeholder="Password" formControlName="passWord">
            </div>
            

            <div class="button">
                <button class="registerBtn">Register</button>
            </div>
        </form>
    </div>
</div>




